.photo-grid {
  padding: 92px 48px 0;
  margin: 0 auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 284px);
  /*grid-template-rows: repeat(3, 213px);*/
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768))) calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768))) 0;
  }
}

@media screen and (max-width: 942px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 64px calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320))) 0;
  }
}

@media screen and (max-width: 728px) {
  .photo-grid {
    grid-template-columns: repeat(1, 288px);
    gap: 12px;
  }
}

