.cover {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  padding: 92px 48px 0;
}

@media screen and (max-width: 1090px) {
  .cover {
    padding: 92px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 90px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding: calc(66px + (90 - 66) * ((100vw - 320px) / (768 - 320))) 0 0;
  }
}

