.footer {
  margin: 0 auto;
  padding: 92px 48px 24px;
  display: flex;
  flex-direction: row;
  font-family: 'Inter', Arial, sans-serif;
  justify-content: space-between;
}

@media screen and (max-width: 820px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 738px) {
  .footer {
    padding: 64px 16px 24px;
    flex-direction: column;
    align-content: space-between;
  }
}
